{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PC-Detection-UAV > HOME</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="{% static 'website/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/demo.css' %}"/>
    <link rel="stylesheet" href="{% static 'website/css/templatemo-style.css' %}">
    <script type="text/javascript" src="{% static 'website/js/modernizr.custom.86080.js' %}"></script>
</head>

<body>

<div id="particles-js"></div>
<ul class="cb-slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-sm-6">
            <img src="{% static 'core/images/uav-animate.gif' %}" class="img-responsive img-fluid">
            <header class=""><h1>PC Detection <b class="text-danger">UAV</b></h1></header>
            <P class="my-2 small">
                Plants canoply detection automated uav (auto-pilot), to develop an automated uav trained on
                <a class="text-danger">AI</a>, to detect plants canoply and diseases, configure your drone
                with your account allow it to fly get all the data, images videos and other important information with
                mobile application just signingin with your account.
            </P>

            <div class="tm-social-icons-container text-xs-center mt-4">
                <a href="#" class="tm-social-link"><i class="fa fa-facebook"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-twitter"></i></a>
                <a href="#" class="tm-social-link"><i class="fa fa-linkedin"></i></a>
            </div>

            <div>
                <p class="small">Copyright © 2021 | Developing by <b class="text-danger">Mohsin</b></p>
            </div>

        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="{% static 'website/js/particles.js' %}"></script>
<script type="text/javascript" src="{% static 'website/js/app.js' %}"></script>
</html>